.main {
  padding: 1rem 2.5rem;
}
.tab {
  white-space: nowrap;
  display: inline-block;
  padding: 0 6px;
}
.tabs_wrap {
  position: fixed;
  background: white;
  padding: 10px 20px 10px 0;
  top: 60px;
  line-height: 1.5rem;
}
.non_active {
  text-decoration: none;
  color: indigo;
  cursor: pointer;
}
.active {
  text-decoration: underline;
  color: red;
}
.float_btn {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 1;
  background-color: #204887;
}
  