.main {
  padding: 0 2.5rem 1rem;
}
.tab {
  white-space: nowrap;
  display: inline-block;
  padding-right: 8px;
}
.non_active {
  text-decoration: none;
  color: indigo;
  cursor: pointer;
}
.non_active:hover {
  text-decoration: underline;
}
.active {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}
    